<div class='w-[100%] h-[100%] m-auto flex flex-col items-center'>
  <h1 class='text-center font-semibold text-2xl m-10 uppercase'>Organization</h1>
  <div class='border border-black rounded-lg p-4' >
    <h3 class='text-xl mb-3'>Edit Organization</h3>
    <%= render 'form', company: @company %>
  </div>
</div>
