<div class='w-[100%] h-[100%] m-auto flex flex-col items-center'>
  <h1 class='text-center font-semibold text-2xl m-10 uppercase'>Organization</h1>
  <div class='flex justify-end w-[60%] mb-2'>
    <%= link_to "Add new Organization", new_company_path, { class: 'text-sm border border-black p-2 rounded-lg hover:bg-gray-100' } %>
  </div>
  <div class='w-[60%] flex justify-around flex-wrap'>
    <% @companies.each do |company| %>
      <%= render 'company', company: company %>
    <% end %>
  </div>
</div>
